<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis posuere enim, eget sodales lectus interdum
  vitae. Nunc eu ligula sed orci pretium mattis. Aliquam condimentum dui in diam vehicula laoreet. Nam libero massa,
  interdum fermentum dui pretium, dictum viverra leo. Morbi viverra tellus nec urna ultricies cursus. Aliquam eleifend
  molestie metus sed lacinia. Donec condimentum venenatis ullamcorper. Nam nec accumsan dolor, sit amet faucibus est.
  Aenean lorem ipsum, pulvinar non fermentum vel, elementum et tellus. Etiam at sapien ornare metus scelerisque
  pharetra. Fusce scelerisque ac sem et rhoncus. Vivamus venenatis vestibulum tincidunt.
</p>
<button routerLink="/game">Ok</button>
