<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button (click)="location.back()">Back</ons-back-button>
    </div>
    <div class="center">Intro to Game</div>
  </ons-toolbar>
  <div class="content">

    <p>
      Choose which subject you want for the quiz
    </p>

    <div style="margin: 10px">
      <ons-select (change)="subjectChange($event)">
        <option *ngFor="let sub of subjects" [value]="sub">
          {{ sub }}
        </option>
      </ons-select>
    </div>

    <ons-list>
      <ons-list-item>
        <ons-button (click)="redir()">Let's begin!</ons-button>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>
