<ons-page>
  <ons-toolbar>
    <div class="center">Intro to Game</div>
  </ons-toolbar>
  <div class="content">

    <p>
      Choose which subject you want for the quiz
    </p>

    <div style="margin: 10px">
      <ons-select [(ngModel)]="subject">
        <option *ngFor="let sub of subjects" [value]="sub">
          {{ sub }}
        </option>
      </ons-select>
    </div>

    <ons-list>
      <ons-list-item>
        <ons-button routerLink="/game" [queryParams]="{subject: subject}">Let's begin!</ons-button>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>
