.game {
  font-size: 30px;
}

.next {
  position: relative;
  font-size: 80px;
  height: 200px;
  width: 100%;
  text-align: center;
  line-height: 200px;
}

.next-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}
