<ons-page>
  <ons-toolbar>
    <div class="center">Game</div>
    <div class="right">{{timeLeft | number:'1.2'}}</div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <div *ngIf="hideTakePicture">
      <ons-progress-bar [value]="timePercentage"></ons-progress-bar>
      <ons-card class="game">
        <p>
          {{definition}}
        </p>
      </ons-card>
      <div class="next-wrapper">
        <ons-button (click)="nextWord()" modifier="large" class="next">Next</ons-button>
      </div>
    </div>
  </div>
</ons-page>
