<ons-page>
  <ons-toolbar>
    <div class="left">
      ons-icon
    </div>
    <div class="center">Take a picture!</div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <ons-progress-bar *ngIf="loading" indeterminate></ons-progress-bar>
    <ons-list>
      <ons-list-header>Instructions</ons-list-header>
      <ons-list-item>
        Take a picture of your work. For the picture that you take, please make sure that the text is horizontal. Flash
        is not required while taking the picture, as our program will compensate.
      </ons-list-item>
    </ons-list>

    <ons-list>
      <ons-list-item>
        Remember that pictures must:
      </ons-list-item>

      <ons-list-item>
        1) Have answers far from the red margin
      </ons-list-item>

      <ons-list-item>
        2) Have lines in the format '#) answer'
      </ons-list-item>

      <ons-list-item>
        3) Must be angled directly above the paper
      </ons-list-item>

      <ons-list-item>
        4) Have no spaces that split individual words
      </ons-list-item>
    </ons-list>

    <ons-list>
      <ons-list-header> Upload Picture </ons-list-header>
      <ons-list-item>
        Click "choose file" below then click "take picture" in the popup
      </ons-list-item>
      <ons-list-item>
        <ons-input type="file" (change)="uploadPicture($event)" accept="image/*"></ons-input>
      </ons-list-item>
    </ons-list>

  </div>
</ons-page>
